body {
    font-family: Arial, sans-serif;
    text-align: center;
}

div#app {
    position: relative;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

div#app div.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid red;
    z-index: 1000;
}

ol#stepsContainer {
    position: absolute;
    top: 1em;
    right: 28em;
    width: 10em;
    text-align: left;
}

.buttons {
    margin-top: 20px;
}
